@import "./reset.css";
@import "./variables/global.css";
@import "./themes/normal.css";
@import "./themes/dark.css";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

@layer utilities {
    .page-loader-height {
        height: calc(100vh - var(--navbar-height));
    }
}


.app {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    font-size: var(--font-size-m);
    transition: color var(--color-animation-duration) ease, background var(--color-animation-duration) ease;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    color: var(--inverted-primary-color);
    transition: color var(--color-animation-duration) ease, background var(--color-animation-duration) ease;
}
