:root {
    /*--font-family-main: consolas, "Courier New", monospace;*/
    --font-size-s: 12px;
    --font-line-s: 16px;
    --font-s: var(--font-size-s) / var(--font-line-s);

    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl);
    --navbar-height: 60px;
    --sidebar-width: 150px;
    --sidebar-width-collapsed: 80px;
    --sidebar-height: calc(100vh - var(--navbar-height));
    --color-animation-duration: 0.3s;

    /* Z-Indexes */


    /* Overlay colors */
    --overlay-color: rgba(0, 0, 0, 0.8);


    /* Logo shield color */
    --shield: #ffffff !important;
}
