:root {
    /*--font-family-main: consolas, "Courier New", monospace;*/
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l);
    --navbar-height: 60px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
    --sidebar-height: calc(100vh - var(--navbar-height));
    --color-animation-duration: 0.2s;
}
