.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    color: var(--primary-color);
}
.Overlay {
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content {
    padding: 20px;
    border-radius: 12px;
    background: var(--sidebar-bg-color);
    transition: 0.3s transform ease, 0.3s opacity ease;
    transform: scale(0.6);
    opacity: 0;
    max-width: 80%;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: 10;
    transition: 0.3s opacity ease;
    
}


.opened .Content {
    transform: scale(1);
    opacity: 1;
}



.isClosing .Content {
        transform: scale(0.2);
        opacity: 0;
    }

.isClosing {
    opacity: 0;
    transition: 0.3s transform ease, 0.3s opacity ease, 0.3s backdrop-filter ease;
}
.CloseButton {
    position: absolute;
    top: -8px;
    right: -12px;
    font-size: 11px;
    color: var(--inverted-bg-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease;
}

.CloseButton:hover {
    color: var(--overlay-color);
    background-color: var(--primary-color);
}
