
.Btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
}

.clear {
    color: var(--inverted-primary-color);
    background: none;
    border: none;
    box-sizing: border-box;
}

.primary {
    color: var(--primary-color);
    background-color: var(--inverted-bg-color) ;
    border-radius: 15px;
    border: none;
}


.outline {
    color: var(--inverted-primary-color);
    background: transparent;
    border: 1px solid var(--inverted-primary-color);
    border-radius: 15px;
}
