
.Btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--inverted-primary-color);
}

.clear {
    background: none;
    border: none;
    box-sizing: border-box;
}

.primary {
    background: var(--inverted-bg-color);
    border-radius: 15px;
    border: none;
}

.primary:hover {
    background: var(--bg-color);
}

.outline {
    background: transparent;
    border: 1px solid black;
    border-radius: 15px;
}
.outline:hover {
    border: 1px solid grey;
    color: grey;
}
