.Sidebar {
    height: calc(100dvh - var(--navbar-height));
    background: var(--sidebar-bg-color);
    color: var(--primary-color);
    position: relative;
    transition: width 0.3s;
    width: var(--sidebar-width) !important;
}

.ToggleBt {
    padding: 30px 4px;
    background: var(--inverted-bg-color);
    position: absolute;
    bottom: calc(50dvh - var(--navbar-height));
    right: -10px;
    cursor: pointer;
    z-index: 100;
}

.collapsed {
    width: var(--sidebar-width-collapsed) !important;
}

.switchers {
    position: absolute;
    white-space: nowrap;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.collapsed .switchers {
    flex-direction: column;
    gap: 10px;
}
.lang {
    margin-left: 20px;
}

@media (max-width: 480px) {
    .collapsed .switchers {
        display: none;
    }
    :root {
        --sidebar-width-collapsed: 10px;
        --sidebar-width: 150px;
    }

}
