.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--sidebar-bg-color);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    display: flex;
    position: absolute;
    bottom: 40px;
    justify-content: center;
    align-items: center;
}

.lang {
    margin-left: 8px;
}
