.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);

  position: relative;
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  display: flex;
  bottom: 20px;
  width: 100%;
  justify-content: center;
}

.lang {
  margin-left: 10px;
}