.app.dark {
    --bg-color: #2b2b2b;
    --sidebar-bg-color: #353634;
    --inverted-bg-color: #e6324b;
    --primary-color: #f2e3c6;
    --secondary-color: #1cff1c;
    --inverted-primary-color: #f2e3c6;
    --inverted-secondary-color: #e6324b;
}
