.app_dark_theme {
    --bg-color: #1e1e1e;
    --sidebar-bg-color: #383838;
    --inverted-bg-color: #cb2138;
    --primary-color: #e5e5df;
    --secondary-color: #ffffff;
    --inverted-primary-color: #e3dfdf;
    --inverted-secondary-color: #f31d3b;
}

