.app.dark {
  --bg-color: #4f4f4f;
  --inverted-bg-color: #F2F2F7;

  --primary-color: #0aa40a;
  --secondary-color: #1cff1c;
  --inverted-primary-color: #1854d9;
  --inverted-secondary-color: #008dff;
}