.app.dark {
    --bg-color: #4f4f4f;
    --inverted-bg-color: #f2f5f5;
    --primary-color: #0aa40a;
    --secondary-color: #1cff1c;
    --inverted-primary-color: #4c85ff;
    --inverted-secondary-color: #85c9ff;
}
