.app_dark_theme {
    --bg-color: #1e1e1e;
    --sidebar-bg-color: #323232;
    --inverted-bg-color: #cb2138;
    --primary-color: #e5e5df;
    --secondary-color: #1cff1c;
    --inverted-primary-color: #e3dfdf;
    --inverted-secondary-color: #f31d3b;
}

