.app_dark_blue_theme {
    --bg-color: #1e1e1e;
    --sidebar-bg-color: #383838;
    --inverted-bg-color: #007FB0;
    --inverted-bg-color-edge: #006991;
    --primary-color: #e5e5df;
    --secondary-color: #ffffff;
    --inverted-primary-color: #e3dfdf;
    --inverted-secondary-color: #ff7300;
}