.app.light {
    --bg-color: #f2f2f5;
    --inverted-bg-color: #505050;
    --sidebar-bg-color: #3d3d3d;
    --primary-color: #ffd7c7;
    --secondary-color: #89cfff;
    --inverted-primary-color: #282828;
    --inverted-secondary-color: #32cd32;
}
