.Navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background: var(--inverted-bg-color);
    transition: var(--color-animation-duration) ;
}


.name {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    color: var(--primary-color);
    transition-duration: var(--color-animation-duration);
}

