.Navbar {
    width: 100dvw;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 24px 0 16px;
    background: var(--inverted-bg-color);
    transition: var(--color-animation-duration) ;
}


.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95%;
    margin-bottom: 5px;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    color: var(--primary-color);
    transition-duration: var(--color-animation-duration);
}

path > .logo2_svg__st0 {
    fill: #32cd32 !important;
}

.logo2_svg__st1 {
    fill: #313131 !important;
}
